<launch>
    <node pkg="robotiq_ft_sensor" type="rq_sensor" name="rq_sensor" output="screen"/>
    <node pkg="admittance_control" type="MDK_computation" name="MDK_computation" output="screen" />
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" />
    <node pkg="plotjuggler" type="plotjuggler" name="plotjuggler" output="screen" />
</launch>
